/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap';
body {
  position: relative;
  color: black;
  height: 100vh;
  background-color: white;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}



p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
